body{
    background-color: black;
    color: white;
}

.loader-wrapper{
    position: relative;
    left: 50%;
    width: 200px;
    height: 200px;
    top: 200px;
    font-size:20px;
    /* padding-top:30px;
    padding-bottom:30px; */
    text-align: center;
    vertical-align: text-bottom;
    border: 5px solid #c9b34e;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border1 .75s linear infinite;
    animation: spinner-border1 .75s linear infinite;
}
.loader-wrapper::before{
    content: ' ';
    position: absolute;
    left: 20px;
    top: 20px;
    width: 150px;
    height: 150px;
    border: 5px solid red;
    display: block;
    border-radius: 100%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-animation: spinner-border2 .5s linear infinite;
    animation: spinner-border2 .5s linear infinite;
}
.loader{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border: 5px solid #3e94d3;
    border-right-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border3 .75s linear infinite;
    animation: spinner-border3 .75s linear infinite;
}

@-webkit-keyframes spinner-border1 {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-border1 {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spinner-border2 {
    from {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

@keyframes spinner-border2 {
    from {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}
@-webkit-keyframes spinner-border3 {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes spinner-border3 {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}


